.cityItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--2);

  width: 100%;
  text-align: left;

  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;

  border: none;
  outline: none;
  background: var(--color-dark--2);
  transition: all 0.2s;
}

.cityItem:hover {
  background-color: rgba(0, 123, 255, 0.05);
}

.cityItem:active {
  transform: scale(0.98);
}

.cityItem:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
}

.cityItem--selected {
  border: 2px solid var(--color-brand--1);
  border-left: 5px solid var(--color-brand--1);
  background-color: rgba(0, 123, 255, 0.1);
}

.selectedIndicator {
  color: white;
  font-weight: bold;
  background-color: var(--color-brand--1);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
  overflow-wrap: break-word;
}

.date {
  font-size: 1.5rem;
  white-space: nowrap;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}

.timeVisited {
  white-space: nowrap;
  font-weight: 400;
  font-size: 1.5rem;
}
