.tripItem,
.tripItem:link,
.tripItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1.5rem 2.5rem;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  width: 100%;
  min-width: 350px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.tripItem:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: auto;
}

.status {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: auto;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}
